.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(80, 80, 80);
  line-height: 2;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.loader .loader__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(64, 64, 64, 0.6);
  -webkit-box-shadow: 2px 2px 3px rgb(129, 129, 129);
          box-shadow: 2px 2px 3px rgb(129, 129, 129);
  border-radius: 20px;
  width: 75px;
  height: 75px;
  background-color: rgba(240, 240, 240, 0.7);
}
.loader .loader__body .loader__shapeEye01, .loader .loader__body .loader__shapeEye02 {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.589);
  width: 25px;
  height: 25px;
  left: 20px;
  top: 15px;
  background-color: rgb(255, 255, 255);
  -webkit-animation: renderEye01 2s ease-in-out infinite;
          animation: renderEye01 2s ease-in-out infinite;
}
.loader .loader__body .loader__shapeEye02 {
  left: 30px;
  -webkit-animation: renderEye02 2s ease-in-out infinite;
          animation: renderEye02 2s ease-in-out infinite;
}

@-webkit-keyframes renderEye01 {
  0% {
    -webkit-box-shadow: 1px 1px 2px rgb(51, 51, 51);
            box-shadow: 1px 1px 2px rgb(51, 51, 51);
    border-radius: 10px;
  }
  25% {
    -webkit-box-shadow: -1px 1px 2px rgb(51, 51, 51);
            box-shadow: -1px 1px 2px rgb(51, 51, 51);
    border-radius: 10px;
    left: 20px;
  }
  50% {
    -webkit-box-shadow: -1px -1px 2px rgb(120, 120, 120);
            box-shadow: -1px -1px 2px rgb(120, 120, 120);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    border-radius: 50%;
    left: 10px;
  }
  75% {
    -webkit-box-shadow: 1px -1px 2px rgb(120, 120, 120);
            box-shadow: 1px -1px 2px rgb(120, 120, 120);
    border-radius: 10px;
    left: 20px;
  }
  100% {
    -webkit-box-shadow: 1px 1px 2px rgb(120, 120, 120);
            box-shadow: 1px 1px 2px rgb(120, 120, 120);
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    border-radius: 10px;
  }
}

@keyframes renderEye01 {
  0% {
    -webkit-box-shadow: 1px 1px 2px rgb(51, 51, 51);
            box-shadow: 1px 1px 2px rgb(51, 51, 51);
    border-radius: 10px;
  }
  25% {
    -webkit-box-shadow: -1px 1px 2px rgb(51, 51, 51);
            box-shadow: -1px 1px 2px rgb(51, 51, 51);
    border-radius: 10px;
    left: 20px;
  }
  50% {
    -webkit-box-shadow: -1px -1px 2px rgb(120, 120, 120);
            box-shadow: -1px -1px 2px rgb(120, 120, 120);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    border-radius: 50%;
    left: 10px;
  }
  75% {
    -webkit-box-shadow: 1px -1px 2px rgb(120, 120, 120);
            box-shadow: 1px -1px 2px rgb(120, 120, 120);
    border-radius: 10px;
    left: 20px;
  }
  100% {
    -webkit-box-shadow: 1px 1px 2px rgb(120, 120, 120);
            box-shadow: 1px 1px 2px rgb(120, 120, 120);
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    border-radius: 10px;
  }
}
@-webkit-keyframes renderEye02 {
  0% {
    -webkit-box-shadow: 1px 1px 2px rgb(120, 120, 120);
            box-shadow: 1px 1px 2px rgb(120, 120, 120);
    border-radius: 10px;
  }
  25% {
    -webkit-box-shadow: 1px -1px 2px rgb(120, 120, 120);
            box-shadow: 1px -1px 2px rgb(120, 120, 120);
    border-radius: 10px;
    left: 30px;
  }
  50% {
    -webkit-box-shadow: -1px -1px 2px rgb(120, 120, 120);
            box-shadow: -1px -1px 2px rgb(120, 120, 120);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-radius: 50%;
    left: 35px;
  }
  75% {
    -webkit-box-shadow: -1px 1px 2px rgb(120, 120, 120);
            box-shadow: -1px 1px 2px rgb(120, 120, 120);
    border-radius: 10px;
    left: 30px;
  }
  100% {
    -webkit-box-shadow: 1px 1px 2px rgb(120, 120, 120);
            box-shadow: 1px 1px 2px rgb(120, 120, 120);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-radius: 10px;
  }
}
@keyframes renderEye02 {
  0% {
    -webkit-box-shadow: 1px 1px 2px rgb(120, 120, 120);
            box-shadow: 1px 1px 2px rgb(120, 120, 120);
    border-radius: 10px;
  }
  25% {
    -webkit-box-shadow: 1px -1px 2px rgb(120, 120, 120);
            box-shadow: 1px -1px 2px rgb(120, 120, 120);
    border-radius: 10px;
    left: 30px;
  }
  50% {
    -webkit-box-shadow: -1px -1px 2px rgb(120, 120, 120);
            box-shadow: -1px -1px 2px rgb(120, 120, 120);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-radius: 50%;
    left: 35px;
  }
  75% {
    -webkit-box-shadow: -1px 1px 2px rgb(120, 120, 120);
            box-shadow: -1px 1px 2px rgb(120, 120, 120);
    border-radius: 10px;
    left: 30px;
  }
  100% {
    -webkit-box-shadow: 1px 1px 2px rgb(120, 120, 120);
            box-shadow: 1px 1px 2px rgb(120, 120, 120);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-radius: 10px;
  }
}