.userSettings {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.userSettings__body {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    flex: 1 1 auto;
}
.userSettings__nav {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 250px;
    height: fit-content;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px gray inset;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    a {
        width: 100%;
    }
    button {
        display: flex;
        gap: 10px;
        width: 100%;
        box-shadow: 1px 1px 2px gray;
        svg {
            fill: gray;
            transition: fill 0.2s ease-in-out;
        }
        &:hover {
            box-shadow: 2px 2px 4px gray;
            svg {
                fill: rgb(70, 70, 70);
            }
        }
        &:active {
            box-shadow: none;
        }
    }
}

@media (max-width: 580px) {
    .userSettings__body {
        flex-direction: column;
        align-items: center;
    }
    .userSettings__nav {
        flex-direction: row;
        width: fit-content;
        button {
            width: fit-content;
            p {
                display: none;
            }
        }
    }
}