.contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contacts__content {
  max-width: 800px;
  margin: 20px auto;
}
.contacts__content h2 {
  margin-top: 20px;
  line-height: 1.5;
}
.contacts__content .contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.contacts__content .contacts__social svg {
  fill: gray;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.contacts__content .contacts__social svg:hover {
  fill: rgb(60, 60, 60);
}