.authorArticles__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}
.authorArticles__author .pageTitle__leftLine, .authorArticles__author .pageTitle__rightLine {
  border-top: 1px solid gray;
  margin: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-image-slice: 1;
}
.authorArticles__author .pageTitle__leftLine {
  border-image-source: linear-gradient(to left, rgb(200, 200, 200), rgba(0, 0, 0, 0));
}
.authorArticles__author .pageTitle__rightLine {
  border-image-source: linear-gradient(to right, rgb(200, 200, 200), rgba(0, 0, 0, 0));
}

.authorArticles__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.authorArticles__content a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}