.authors__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    a {
        display: flex;
    }
}
.disabled_link {
    pointer-events: none;
}