.authors__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.author__item {
    display: flex;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    height: fit-content;
    width: 300px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: 2px 2px 4px gray;
        transform: translateY(-2px);
    }
}
.author__avatar {
    line-height: 0;
    border-right: 1px solid gray;
    width: 100px;
    height: 100%;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.author__info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 10px;
    p {
        font-size: 0.9em;
        color: rgb(100, 100, 100);
    }
}
.authors__statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    flex: 1 1 auto;
    gap: 20px;
    div {
        display: flex;
        align-items: center;
        gap: 5px;
        svg {
            fill: rgb(70, 70, 70);
        }
    }
}