.registration {
    height: 100%;
}
.registration__title {
    display: flex;
    align-items: center;
    div {
        border-top: 1px dashed gray;
        margin: 0 20px;
        flex: 1 1 auto;
    }
}
.registration__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 2px 2px 4px gray;
    padding: 20px;
    box-sizing: border-box;
    width: fit-content;
    min-width: 300px;
    margin: 20px auto;
}
.registration__close {
    position: absolute;
    top: 10px;
    right: 10px;
    svg {
        fill: rgb(160, 160, 160);
        cursor: pointer;
        &:hover {
            fill: rgb(90, 90, 90);
        }
    }
}
.registration__avatar {
    margin: 10px 0;
    svg {
        fill: rgb(194, 194, 194);
        cursor: pointer;
        transition: fill 0.2s ease-in-out;
        &:hover {
            fill: rgb(120, 120, 120);
        }
    }
}
.registration__inputField {
    position: relative;
    border: 1px solid gray;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 100%;
    input {
        box-sizing: border-box;
        width: 100%;
        outline: none;
        border: none;
        &:focus + div {
            padding: 0 10px;
            font-size: 0.8em;
            color: rgb(120, 120, 120);
            top: 0;
            visibility: visible;
        }
        &:not(:placeholder-shown) + div {
            display: block;
            padding: 0 10px;
            font-size: 0.8em;
            color: rgb(120, 120, 120);
            top: 0;
        }
    }
    div {
        position: absolute;
        top: 50%;
        left: 10px;
        border-radius: 10px;
        transform: translateY(-50%);
        background-color: white;
        width: fit-content;
        color: rgb(190, 190, 190);
        transition: all 0.2s ease-in-out;
        pointer-events: none;
    }
}
.registration__buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin: 10px 0;
    button {
        flex: 1 1 auto;
    }
}