.home__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.home__title h3 {
  color: rgb(30, 140, 220);
}
.home__title div {
  border-top: 1px dashed gray;
  margin: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 20px;
  margin-top: 20px;
}
.home__body .home__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.home__body .home__articles > a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}
.home__body .home__articles > a:first-child {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.home__body .home__articles > a:first-child .articleItem {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.home__body .home__articles > a:first-child .articleItem .articleItem__image {
  width: 150%;
  min-width: 200px;
}
.home__body .home__articles > a:first-child .articleItem .articleItem__description {
  padding: 20px 30px;
}
.home__body .home__articles > a:first-child .articleItem .articleItem__description > p {
  font-size: 1em;
}
.home__body .home__articles > a:first-child .articleItemLoader {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1070px) {
  .home .home__articles > a:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 350px;
            flex: 1 1 350px;
  }
  .home .home__articles > a:first-child .articleItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .home__articles > a:first-child .articleItem .articleItem__image {
    width: 100%;
  }
  .home .home__articles > a:first-child .articleItemLoader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}