.home {
    display: flex;
    position: relative;
    gap: 20px;
    .home__articles {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .article:first-child {
            flex-direction: row;
            flex: 1 1 auto;
            height: 300px;
            .article__image {
                width: 150%;
                min-width: 200px;
            }
        }
    }
}

@media (max-width: 1070px) {
    .home {
        .home__articles {
            .article:first-child {
                flex-direction: column;
                flex: 1 1 350px;
                height: 400px;
                .article__image {
                    width: 100%;
                }
            }
        }
    }
}