.home__title {
    display: flex;
    align-items: center;
    div {
        border-top: 1px dashed gray;
        margin: 0 20px;
        flex: 1 1 auto;
    }
}
.home__body {
    display: flex;
    position: relative;
    gap: 20px;
    margin-top: 20px;
    .home__articles {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex: 1 1 auto;
        & > a {
            flex: 1 1 350px;
            &:first-child {
                width: 100%;
                flex: 1 1 auto;
                .articleItem {
                    flex-direction: row;
                    .articleItem__image {
                        width: 150%;
                        min-width: 200px;
                    }
                    .articleItem__description {
                        padding: 20px 30px;
                        &>p {
                            font-size: 1em;
                        }
                    }
                }
                .articleItemLoader {
                    flex-direction: row;
                }
            }
        }
    }
}

@media (max-width: 1070px) {
    .home {
        .home__articles {
            & > a {
                &:first-child {
                    flex: 1 1 350px;
                    .articleItem {
                        flex-direction: column;
                        .articleItem__image {
                            width: 100%;
                        }
                    }
                    .articleItemLoader {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}