.settings {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  box-shadow: 2px 2px 4px gray inset;
  flex: 1 1 auto;
}
.settings__mainData,
.settings__passwordData,
.settings__nameData,
.settings__deleteAccount {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 15px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  button {
    width: 100%;
    margin-top: auto;
  }
}
.settings__deleteAccount {
  h3 {
    text-align: center;
  }
  .settings__deleteWarning {
    text-align: justify;
    svg {
      fill: rgb(255, 80, 0);
    }
  }
  button {
    background-color: rgb(255, 112, 86);
    color: white;
  }
}
.settings__statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  div {
    display: flex;
    align-items: center;
    gap: 5px;
    svg {
      fill: rgb(70, 70, 70);
    }
  }
}
.settings__avatar {
  position: relative;
  label {
    display: block;
    height: 150px;
    width: 150px;
    border: 2px solid gray;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    filter: contrast(0.8);
    &:hover {
      filter: none;
    }
  }
  img {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  input {
    display: none;
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid gray;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    z-index: 2;
    transition: all 0.2s ease-in-out;
    svg {
      fill: rgb(120, 120, 120);
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      box-shadow: 1px 1px 1px gray;
      transform: translateY(-1px);
      svg {
        fill: rgb(90, 90, 90);
      }
    }
  }
}
.settings__inputField {
  position: relative;
  border: 1px solid gray;
  border-radius: 15px;
  width: 100%;
  input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    &:focus + div {
      padding: 0 10px;
      font-size: 0.8em;
      color: rgb(120, 120, 120);
      top: 0;
      visibility: visible;
    }
    &:not(:placeholder-shown) + div {
      display: block;
      padding: 0 10px;
      font-size: 0.8em;
      color: rgb(120, 120, 120);
      top: 0;
    }
    &:invalid {
      border: 2px solid red;
    }
    &:disabled {
      color: gray;
      background-color: rgb(240, 240, 240);
    }
  }
  div {
    position: absolute;
    top: 50%;
    left: 10px;
    border-radius: 10px;
    transform: translateY(-50%);
    background-color: white;
    width: fit-content;
    color: rgb(190, 190, 190);
    transition: all 0.2s ease-in-out;
    pointer-events: none;
  }
}

@media (max-width: 580px) {
  .settings {
    justify-content: center;
  }
}
