.facebookLogin svg {
  fill: rgb(75, 130, 230);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.facebookLogin svg:hover {
  fill: rgb(80, 140, 250);
}