header {
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 0;
  z-index: 55;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(225, 225, 225), rgba(0, 0, 0, 0));
}
header p {
  line-height: 1;
}
header .header__logo {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header .header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 0 20px;
}
header .header__links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header .header__links div svg {
  fill: rgb(100, 100, 100);
  padding-right: 5px;
}
header .header__links div:hover {
  -webkit-filter: contrast(3);
          filter: contrast(3);
}
header .header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
header .header__user a, header .header__user button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  font-size: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header .header__user a svg, header .header__user button svg {
  fill: rgb(100, 100, 100);
  margin: 5px;
}
header .header__user a:hover, header .header__user button:hover {
  -webkit-filter: contrast(3);
          filter: contrast(3);
}
header .header__user a:active, header .header__user button:active {
  -webkit-box-shadow: 1px 1px 2px gray inset;
          box-shadow: 1px 1px 2px gray inset;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
header .header__user .header__authorizedUserButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
header .header__user .disabledLink {
  border: 1px solid rgb(130, 80, 50);
  background-color: rgb(245, 230, 220);
  pointer-events: none;
}
header .header__user .disabledLink p {
  color: rgb(200, 160, 160);
}
header .header__user .disabledLink svg {
  fill: rgb(200, 160, 160);
}

@media (max-width: 780px) {
  header .header__links p {
    display: none;
  }
  header .header__links svg {
    width: 25px;
    height: 25px;
  }
  header .header__user a p, header .header__user button p {
    display: none;
  }
  header .header__user a svg, header .header__user button svg {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 520px) {
  header .header__links {
    gap: 10px;
  }
  header .header__links p {
    display: none;
  }
  header .header__links svg {
    width: 25px;
    height: 25px;
  }
}