$transition:  all 0.2s ease-in-out;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .header__logo {
        transition: $transition;
    }
    .header__links {
        display: flex;
        gap: 30px;
        div {
            display: flex;
            align-items: center;
            transition: $transition;
            svg {
                fill: rgb(100, 100, 100);
                padding-right: 5px;
            }
        }
        div:hover {
            filter: contrast(3);
        }
    }
    .header__user {
        display: flex;
        gap: 10px;
        button {
            display: flex;
            align-items: center;
            border: 1px solid gray;
            border-radius: 10px;
            padding: 5px;
            font-size: 1em;
            transition: $transition;
            svg {
                fill: rgb(100, 100, 100);
                
            }
        }
        button:hover {
            filter: contrast(3);
        }
        button:active {
            box-shadow: 1px 1px 2px gray inset;
            transform: translateY(2px);
        }
        .header__authorizedUserButtons {
            display: flex;
            gap: 10px;
        }
    }
}

@media (max-width: 700px) {
    header {
        .header__links {
            p {
                display: none;
            }
            svg {
                width: 25px;
                height: 25px;
            }
        }
        .header__user {
            button {
                p {
                    display: none;
                }
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}