$transition:  all 0.2s ease-in-out;

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 0;
    z-index: 99;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source:  
    linear-gradient(
      to left, 
      rgba(0, 0, 0, 0),
      rgba(225, 225, 225, 1), 
      rgba(0, 0, 0, 0)
    );
    p {
        line-height: 1;
    }
    .header__logo {
        transition: $transition;
    }
    .header__links {
        display: flex;
        gap: 30px;
        div {
            display: flex;
            align-items: center;
            transition: $transition;
            svg {
                fill: rgb(100, 100, 100);
                padding-right: 5px;
            }
        }
        div:hover {
            filter: contrast(3);
        }
    }
    .header__user {
        display: flex;
        gap: 10px;
        button {
            display: flex;
            align-items: center;
            border: 1px solid gray;
            border-radius: 10px;
            padding: 5px;
            font-size: 1em;
            transition: $transition;
            svg {
                fill: rgb(100, 100, 100);
                margin: 5px;
            }
        }
        button:hover {
            filter: contrast(3);
        }
        button:active {
            box-shadow: 1px 1px 2px gray inset;
            transform: translateY(2px);
        }
        .header__authorizedUserButtons {
            display: flex;
            gap: 10px;
        }
    }
}

@media (max-width: 780px) {
    header {
        .header__links {
            p {
                display: none;
            }
            svg {
                width: 25px;
                height: 25px;
            }
        }
        .header__user {
            button {
                p {
                    display: none;
                }
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}

@media (max-width: 520px) {
    header {
        .header__links {
            gap: 10px;
            p {
                display: none;
            }
            svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}