nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(225, 225, 225), rgba(0, 0, 0, 0));
  padding: 5px 0 5px 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(rgba(178, 246, 255, 0.3)), color-stop(rgba(255, 250, 178, 0.3)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(178, 246, 255, 0.3), rgba(255, 250, 178, 0.3), rgba(0, 0, 0, 0));
}
nav .nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-right: 10px;
}
nav .nav__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
nav .nav__menu ul li:hover {
  -webkit-filter: contrast(3);
          filter: contrast(3);
}
nav .nav__menu ul svg {
  fill: rgb(100, 100, 100);
  padding-right: 5px;
}
nav input {
  background: url(../../assets/lens.svg) no-repeat 6px white;
  padding-left: 30px;
  padding-right: 10px;
  color: rgb(182, 182, 182);
}

@media (max-width: 650px) {
  nav input {
    width: 100%;
  }
  nav .nav__menu ul {
    gap: 20px;
  }
  nav .nav__menu ul li {
    font-size: 0.9em;
  }
}
@media (max-width: 500px) {
  nav .nav__menu ul li {
    font-size: 0;
  }
}