nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source:  
    linear-gradient(
      to left, 
      rgba(0, 0, 0, 0),
      rgba(225, 225, 225, 1), 
      rgba(0, 0, 0, 0)
    );
    padding: 5px 0 5px 0;
    background: linear-gradient(
        to left, 
        rgba(0, 0, 0, 0),
        rgba(178, 246, 255, 0.3), 
        rgba(255, 250, 178, 0.3), 
        rgba(0, 0, 0, 0)
    );
    margin: 20px 0;
    .nav__menu {
        display: flex;
        gap: 30px;
        margin-right: 10px;
        cursor: pointer;
        a {
            display: flex;
            align-items: center;
            white-space: nowrap;
            transition: all 0.2s ease-in-out;
        }
        a:hover {
            filter: contrast(3);
        }
        svg {
            fill: rgb(100, 100, 100);
            padding-right: 5px;
        }
    }
    input {
        background: url(../../assets/lens.svg) no-repeat 6px white;
        padding-left: 30px;
        padding-right: 10px;
        color: rgb(182, 182, 182);
    }
}

@media (max-width: 650px) {
    nav {
        input {
            width: 100%;
        }
    }
}
@media (max-width: 500px) {
    nav {
        a {
            display: none;
        }
    }
}