nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(225, 225, 225), rgba(0, 0, 0, 0));
  padding: 5px 0 5px 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(rgb(230, 240, 245)), color-stop(rgb(250, 250, 230)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(230, 240, 245), rgb(250, 250, 230), rgba(0, 0, 0, 0));
  margin-bottom: 20px;
}
nav .nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-right: 10px;
}
nav .nav__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
nav .nav__menu ul li:hover {
  -webkit-filter: contrast(3);
          filter: contrast(3);
}
nav .nav__menu ul svg {
  fill: rgb(100, 100, 100);
  padding-right: 5px;
}
nav .nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
nav .nav__search input {
  border-radius: 15px 0 0 15px;
  color: rgb(30, 140, 220);
}
nav .nav__search button {
  background-color: gray;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 0 15px 15px 0;
  height: 40px;
  line-height: 0;
  padding: 5px 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav .nav__search button:hover {
  background-color: rgb(150, 150, 150);
}
nav .nav__search button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 2px 2px 4px rgb(54, 54, 54) inset;
          box-shadow: 2px 2px 4px rgb(54, 54, 54) inset;
}
nav .nav__search button svg {
  fill: rgb(255, 255, 255);
}

.nav__searchWarning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: fixed;
  top: 30%;
  left: 0;
  background-color: rgba(240, 145, 0, 0.7);
  border-radius: 0 0 15px 15px;
  color: rgb(255, 255, 255);
  padding: 5px 20px 5px 10px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  z-index: 99;
}
.nav__searchWarning button svg {
  fill: white;
}

@media (max-width: 650px) {
  nav input {
    width: 100%;
  }
  nav .nav__menu ul {
    gap: 20px;
  }
  nav .nav__menu ul li {
    font-size: 0.9em;
  }
}
@media (max-width: 500px) {
  nav .nav__menu ul li {
    font-size: 0;
  }
}