.userComments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    box-shadow: 2px 2px 4px gray inset;
    flex: 1 1 auto;
}
.userComments__item {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 255, 255);
    border: 1px solid gray;
    box-shadow: 1px 1px 2px gray;
    border-radius: 20px;
    padding: 10px 20px;
    width: 90%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: 2px 2px 4px gray;
        transform: translateY(-2px);
    }
    &:nth-child(even) {
        background-color: rgb(255, 255, 245);
    }
    em {
        text-indent: 1em;
    }
}
.userComments__date {
    align-self: flex-end;
    color: gray;
    font-size: 0.9em;
}
.userComments__likes {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 5px;
    svg {
        fill: rgb(90, 90, 90);
    }
}