aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    min-width: 300px;
    position: sticky;
    top: 10px;
    height: fit-content;
    h3 {
        display: block;
        background-color: gray;
        padding: 10px;
        color: white;
    }
}
.aside__tagsBlock, .aside__commentsBlock {
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 2px gray;
    .aside__tags {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        min-height: 40px;
        a {
            margin-right: 10px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .aside__commentItem {
        padding: 10px;
        cursor: pointer;
        filter: grayscale(0.5);
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: rgb(240, 240, 240);
            box-shadow: 1px 1px 4px gray inset;
        }
    }
    .aside__commentText {
        font-size: 0.9em;
    }
}

@media (max-width: 680px) {
    aside {
        display: none;
    }
}