aside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 300px;
  min-width: 300px;
}
aside h3 {
  display: block;
  background-color: gray;
  padding: 10px;
  color: white;
}

.aside__tagsBlock, .aside__commentsBlock {
  border: 1px solid gray;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
}
.aside__tagsBlock .aside__tags, .aside__commentsBlock .aside__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  min-height: 40px;
}
.aside__tagsBlock .aside__tags div, .aside__commentsBlock .aside__tags div {
  margin-right: 10px;
  cursor: pointer;
}
.aside__tagsBlock .aside__tags div:hover, .aside__commentsBlock .aside__tags div:hover {
  text-decoration: underline;
}
.aside__tagsBlock .aside__commentItem, .aside__commentsBlock .aside__commentItem {
  padding: 10px;
  cursor: pointer;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.aside__tagsBlock .aside__commentItem:hover, .aside__commentsBlock .aside__commentItem:hover {
  background-color: rgb(240, 240, 240);
  -webkit-box-shadow: 1px 1px 4px gray inset;
          box-shadow: 1px 1px 4px gray inset;
}
.aside__tagsBlock .aside__commentText, .aside__commentsBlock .aside__commentText {
  font-size: 0.9em;
}

.aside__donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  top: 70px;
}
.aside__donate a {
  border: 1px solid gray;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
  line-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-width: 300px;
}
.aside__donate a:hover {
  -webkit-box-shadow: 2px 2px 4px gray;
          box-shadow: 2px 2px 4px gray;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 680px) {
  .aside__tagsBlock, .aside__commentsBlock {
    display: none;
  }
}