.commentsBlock {
  .commentsBlock__title {
    display: flex;
    align-items: center;
    div {
      border-top: 1px dashed rgb(180, 180, 180);
      flex: 1 1 auto;
      margin: 0 10px;
    }
  }
  .commentsBlock__notAuth {
    text-align: center;
    line-height: 2;
    color: rgb(218, 87, 0);
    font-style: italic;
  }
  .commentsBlock__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  .commentsBlock__input {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    textarea {
      padding: 10px;
      resize: none;
      height: 60px;
      border-radius: 15px;
      flex: 1 1 auto;
      font-size: 1em;
    }
    button {
      display: flex;
      align-items: center;
      gap: 5px;
      svg {
        fill: gray;
      }
      &:hover svg {
        fill: rgb(90, 90, 90);
      }
    }
  }
}

@media (max-width: 860px) {
  .commentsBlock {
    .commentsBlock__input {
      button {
        p {
          display: none;
        }
      }
    }
  }
}
