footer {
  border-top: 1px solid rgba(64, 64, 64, 0.2);
  margin-top: 20px;
  padding: 10px 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(rgba(178, 246, 255, 0.3)), color-stop(rgba(255, 250, 178, 0.3)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(178, 246, 255, 0.3), rgba(255, 250, 178, 0.3), rgba(0, 0, 0, 0));
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}
footer .footer h3 {
  margin-bottom: 5px;
}
footer .footer a {
  line-height: 1.5;
  cursor: pointer;
}
footer .footer a:hover {
  text-decoration: underline;
}
footer .banner__telegram a {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
  line-height: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer .banner__telegram a:hover {
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.footer__additional {
  text-align: center;
  margin-top: 10px;
}
.footer__additional p {
  font-size: 12px;
  color: rgb(180, 180, 180);
}

@media (max-width: 650px) {
  footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer > div {
    margin-bottom: 10px;
  }
  footer .footer__additional {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer__additional p {
    margin: 0 10px;
  }
}