.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1 1 auto;
  }
}

//arrow UP
.arrow__top {
    display: flex;
    position: fixed;
    right: 30px;
    bottom: 30px;
    line-height: 0;
    z-index: 99;
    & a {
      border: 2px solid rgba(255, 255, 255, 0.9);
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
      svg {
        fill: rgba(82, 82, 82, 0.3);
        transition: all 0.2s ease-in-out;
      }
    }
    & a:hover {
      border: 2px solid rgba(0, 126, 158, 0.8);
    }
    & a:hover svg {
      fill: rgba(0, 145, 207, 0.8);
    }
  }