.privacy {
  flex: 1 1 auto;
}
.privacy__content,
.privacy__deleteAccount {
  max-width: 800px;
  margin: 20px auto;
  h3 {
    line-height: 1;
    margin-bottom: 10px;
  }
  & > p {
    text-align: justify;
    text-indent: 2em;
    margin-bottom: 15px;
  }
  ul,
  ol {
    margin: 0 0 15px 2em;
  }
  li {
    list-style: circle;
  }
  svg {
    fill: rgb(255, 163, 43);
    margin-right: 10px;
    vertical-align: sub;
  }
}
.privacy__deleteAccount {
  li {
    list-style: inherit;
  }
}
