.sponsorship {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sponsorship__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sponsorship__title div {
  border-top: 1px dashed gray;
  margin: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sponsorship__content {
  max-width: 800px;
  margin: 20px auto;
}
.sponsorship__content > p {
  text-align: justify;
  text-indent: 2em;
  margin-bottom: 15px;
}
.sponsorship__content .sponsorship__links {
  margin-bottom: 15px;
}