$transition: all 0.2s ease-in-out;

.article {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    filter: grayscale(0.5) contrast(0.5);
    flex: 1 1 350px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    transition: $transition;
}
.article:hover {
    box-shadow: 2px 2px 3px gray;
    filter: none;
    transform: translateY(-3px);
}

.article__image {
    line-height: 0;
    overflow: hidden;
    position: relative;
    .article__title {
        position: absolute;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.425);
        width: 100%;
        h2, p {
            color: white;
            line-height: 1;
        }
        p {
            font-size: 0.8em;
        }
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.article__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    & > p {
        flex: 1 1 auto;
        overflow: hidden;
    }
    .article__tags {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        a {
            margin-right: 10px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .article__views {
        display: flex;
        position: absolute;
        bottom: 10px;
        right: 10px;
        gap: 5px;
        align-items: center;
    }
}