.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid gray;
  border-radius: 20px;
  -webkit-filter: grayscale(0.5) contrast(0.5);
          filter: grayscale(0.5) contrast(0.5);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.article:hover {
  -webkit-box-shadow: 2px 2px 3px gray;
          box-shadow: 2px 2px 3px gray;
  -webkit-filter: none;
          filter: none;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.article__image {
  line-height: 0;
  overflow: hidden;
  position: relative;
}
.article__image .article__title {
  position: absolute;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.425);
  width: 100%;
}
.article__image .article__title h2, .article__image .article__title p {
  color: white;
  line-height: 1;
}
.article__image .article__title p {
  font-size: 0.8em;
}
.article__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.article__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.article__description > p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}
.article__description .article__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}
.article__description .article__tags a {
  margin-right: 10px;
}
.article__description .article__tags a:hover {
  text-decoration: underline;
}
.article__description .article__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}